html{
    font-family: 'Nunito Sans',sans-serif;
}

#main{
    background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://farm6.staticflickr.com/5656/30850731495_762f344956_h.jpg");
    background-size: cover;
    background-position: center;
    padding: 220px 0;
}

h4{
    margin-top: -60px;
    color: #fff;
    text-align: center;
}

h5{
    margin-top: 5px;
    color: #fff;
    text-align: center;
}

.nav-wrapper{
    background:#fff; 
    color: #000;
}

.nav-wrapper a{
    color: #000
}

.page-footer{
    background: #000040 ;
}